
compute goodness for every label/.DS_Store
compute goodness for every label/.DS_Store
compute goodness for every label/CIFAR10_layer_adjustable/.DS_Store
compute goodness for every label/MNIST_layer_adjustable/.DS_Store
